@-moz-document domain("bgm.tv"), domain("bangumi.tv") {
:root {
    --main-font-size: 1rem;
    --sidebar-width: 320px;
    --ratio: 0.85;
    --main-width: 85%;
    --var-width: 100%;
}

/*顶栏导航、底部“关于”*/
#navMenuNeue.clearit, #footerLinks.clearit {
    width: 110%
}
.clearit.headerNeueInner {
    width: var(--main-width) !important
}

/*font size*/
h1 {
    font-size: calc(var(--main-font-size) * 1.2) !important;
}
.l, .message, .inner, #entry_content, .clearit.blog_entry, #viewEntry.clearit, #columnA, .clearit.columns {
    font-size: calc(var(--main-font-size) * 1.05);
}
li.airYear:nth-of-type(n) > .l, #futureAirTime > .l, #pastAirTime > .l  {
    width: 110%;
    font-size: var(--main-font-size) !important;
}
div.clearit.item:nth-of-type(n), .entry {
    line-height: calc(var(--main-font-size) * 1.2);
    height: calc(var(--main-font-size) * 8)
}
.time {
    height: calc(var(--main-font-size) * 2.2) !important;
    line-height: calc(var(--main-font-size) * 1.1) !important
}


/*above 1366px*/
@media screen and (min-width: 1367px) {
    /*主显示区域、热门小组*/
    .home_title, .groupsLarge, .section, h1, #columnHomeA {
        position: relative;
        left: calc(500px - 50vw * var(--ratio)); /* (100vw*0.85-1024px)*0.5 */
        width: calc((100vw * var(--ratio) - var(--sidebar-width)) * 0.97) !important;
    }
    .groupsLarge > li:nth-of-type(n) {
        position: relative;
        width: 14%;
    }

    /*右侧列表*/
    #columnB, #columnSubjectBrowserB.column, #columnHomeB {
        position: absolute;
        right: calc(0.5 * ((1 - var(--ratio)) * 100%));
        width: var(--sidebar-width)
    }
    .groupsSmall > li:nth-of-type(n) {
        width: 100%
    }
}

/*below 1366*/
@media screen and (max-width: 1366px) and (min-width: 1024px) {
    /*主显示区域、热门小组*/
    .home_title, .groupsLarge, .section, h1, #columnHomeA {
        position: relative;
        left: calc(500px - 50vw); /* (100vw-1024px)*-0.5 */
        width: calc(97vw - var(--sidebar-width)) !important;
    }
    .groupsLarge > li:nth-of-type(n) {
        position: relative;
        width: 14%;
    }

    /*右侧列表*/
    #columnB, #columnSubjectBrowserB.column, #columnHomeB {
        position: absolute;
        right: 0.5%;
        width: var(--sidebar-width)
    }
    .groupsSmall > li:nth-of-type(n) {
        width: 100%
    }
}
}

@-moz-document regexp("http(s|)://(bgm|bangumi)\\.tv/") {
/*watching list*/

/*above 1366px*/
@media screen and (min-width: 1367px) {
    .tinyMode.even.infoWrapper.clearit, .tinyMode.info_show.odd.infoWrapper.clearit, .tinyMode.odd.infoWrapper.clearit {
        position: relative !important;
        /*width: calc() !important;*/
    }
}

/*below 1366*/
@media screen and (max-width: 1366px) and (min-width: 1024px) {
    .tinyMode.even.infoWrapper.clearit, .tinyMode.info_show.odd.infoWrapper.clearit, .tinyMode.odd.infoWrapper.clearit {
        position: relative !important;
        /*width: 28% !important;*/
    }
}

}

@-moz-document regexp("http(s|)://(bgm|bangumi)\\.tv/group/discover"), regexp("http(s|)://(bgm|bangumi)\\.tv/group") {
/*above 1366px*/
@media screen and (min-width: 1367px) {
    /*帖子列表*/
    .topic_list {
        position: relative;
        left: calc(500px - 50vw * var(--ratio)); /* (100vw*0.85-1024px)*0.5 */
        width: calc((100vw * var(--ratio) - var(--sidebar-width)) * 0.97) !important;
    }
}

/*below 1366*/
@media screen and (max-width: 1366px) and (min-width: 1024px) {
    /*帖子列表*/
    .topic_list {
        position: relative;
        left: calc(500px - 50vw); /* (100vw-1024px)*-0.5 */
        width: calc(97vw - var(--sidebar-width)) !important;
    }
}
}

@-moz-document regexp("http(s|)://(bgm|bangumi)\\.tv/group/topic/.*") {
/*楼主ID*/
.avatar.l, .sub_title, .l {
    font-size: calc(var(--main-font-size) * 1.1);
}

.topic_content, .reply_content, .message,       /*主题内容*/
.cmt_sub_content, .inner, .quote {              /*楼层的回复、ID、春菜*/
    font-size: calc(var(--main-font-size) * 1.05) !important;
}

/*帖子标题*/
h1 {
    left: 0% !important;
}

/*个性签名*/
.tip_j {
    font-size: var(--main-font-size) !important;
}

/*楼层中的回复和引用*/
.cmt_sub_content, .quote {
    width: 95% !important;
    max-width: 95% !important;
}

/*above 1366px*/
@media screen and (min-width: 1367px) {
    /*整个文字区域加宽*/
    #columnInSubjectA {
        width: calc(1200px + 10vw)  !important
    }
    
    /*帖子主区域定位，楼层回复文字区域的宽度*/
    .clearit.columns {
        position: relative !important;
        left: calc(-100px - 5vw) !important;
/*        width: 55.5vw !important;*/
    }
    
    /*右上“返回”、“发新帖”*/
    .menu_inner {
        position: absolute;
        right: calc(-200px - 10vw);     /* .clearit.columns若变宽，右边框位置会改变 */
        top: 10px;
        width: 25%;
    }
}

/*below 1366*/
@media screen and (max-width: 1366px) and (min-width: 1024px) {
    /*整个文字区域加宽*/
    #columnInSubjectA {
        width: 95vw !important
    }
    
    /*帖子主区域定位，楼层回复文字区域的宽度*/
    .clearit.columns {
        position: relative !important;
        left: calc(500px - 0.5 * 95vw) !important;
        width: 100% !important;
    }
    
    /*右上“返回”、“发新帖”*/
    .menu_inner {
        position: absolute;
        right: calc(1000px - 95vw);      /* .clearit.columns若变宽，右边框位置会改变 */
        top: 10px;
        width: 25%;
    }
}
}

@-moz-document regexp("http(s|)://(bgm|bangumi)\\.tv/blog.*") {
/*正文，第一条回复*/
#entry_content, .clearit.message {
    font-size: calc(var(--main-font-size) * 1.05) !important;
}

@media screen and (min-width: 1367px) {
    /*主显示区域*/
    #columnA, #comment_list {
        position: relative;
        left: calc(-100px - 5vw) !important;
        width: calc(1200px + 10vw)  !important
    }
    /*title*/
    h1 {
        left: 1% !important;
    }
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
    /*主显示区域*/
    #columnA {
        position: relative;
        left: calc(500px - 0.5 * 95vw) !important;
        width: 95vw !important;
    }
    /*title*/
    h1 {
        left: 1% !important;
    }
}
}
