@-moz-document domain("bgm.tv"), domain("bangumi.tv") {
/*顶栏导航、底部“关于”*/
#navMenuNeue.clearit, #footerLinks.clearit {
    width: 110%
}

/*font size*/
.l, .message, .inner {
    font-size: 1.05rem;
}
li.airYear:nth-of-type(n) > .l, #futureAirTime > .l, #pastAirTime > .l  {
    width: 110%;
    font-size: 15px !important;
}
div.clearit.item:nth-of-type(n), .entry {
    line-height: 1.2rem;
    height: 8rem
}
.time {
    height: 2.2rem !important;
    line-height: 1.1rem !important
}

/*主显示区域、热门小组*/
.home_title, .groupsLarge, .section {
    position: relative;
    left: -40%;
    width: 180% !important;
}
.groupsLarge > li:nth-of-type(n) {
    position: relative;
    width: 14%;
}

/*右侧列表*/
#columnB, #columnSubjectBrowserB.column {
    position: absolute;
    right: 5%;
    width: 20%
}
.groupsSmall > li:nth-of-type(n) {
    width: 100%
}
}

@-moz-document regexp("http(s|)://(bgm|bangumi)\.tv/group/topic/.*") {
/*楼主ID*/
.avatar.l, .sub_title, .l {
    font-size: 1.1rem;
}

/*主题内容*/
.topic_content, .reply_content, .message {
    font-size: 1.05rem !important;
}

/*楼层的回复、ID、春菜*/
.cmt_sub_content, .inner, .quote {
    font-size: 1.05rem;
}

/*个性签名*/
.tip_j {
    font-size: 1rem !important;
}

/*帖子主区域定位，楼层回复文字区域的宽度*/
.clearit.columns {
    position: relative !important;
    left: -25% !important;
    width: 100%;
}

/*整个文字区域加宽*/
#columnInSubjectA {
    width: 150% !important
}

/*楼层中的回复和引用*/
.cmt_sub_content, .quote {
    width: 195% !important
}

/*右上“返回”、“发新帖”*/
.menu_inner {
    position: absolute;
    right: -50%;
    top: 10px;
    width: 25%;
}
}

@-moz-document regexp("http(s|)://(bgm|bangumi)\.tv/") {
/*主页*/
#columnHomeA {
    position: relative !important;
    width: 135% !important;
    left: -30% !important;
}

#columnHomeB {
    position: absolute !important;
    right: 5% !important;
}

/*watching list*/
.tinyMode.even.infoWrapper.clearit, .tinyMode.info_show.odd.infoWrapper.clearit, .tinyMode.odd.infoWrapper.clearit {
    position: relative !important;
    width: 28% !important;
}

}

@-moz-document regexp("http(s|)://bgm\.tv/group/discover") {
.topic_list, .title {
    position: relative;
    left: -40%;
    width: 180% !important;
}
}
