:root {
    --main-font-size: 20px;
}

@-moz-document domain("zh.moegirls.org.cn") {
p, p > span:nth-child(n),
.comment-text {                          /*moegirl comment*/
    font-size: var(--main-font-size);
    line-height: 1.5 !important;
}
}

@-moz-document regexp("https://.*\\.cnbeta\\.com.*") {
.comment-html, .quote-comments-con,      /*cnbeta comment*/
p {                                      /*cnbeta text*/
     font-size: var(--main-font-size) !important;
}
}

@-moz-document regexp("https://www\\.amazon\\.de/(d|g)p/video.+") {
/*amazon prime video subtitle*/
p > span:nth-child(n),
#dv-web-player > div > div:nth-child(n) > div > div > div:nth-child(n) > div > div > div.scalingUiContainerBottom > div > div.controlsOverlay > div.controlsOverlayTop > div.persistentPanel > div > div > div > p, 
#dv-web-player > div > div:nth-child(n) > div > div > div:nth-child(n) > div > div > div.scalingUiContainerBottom > div > div.controlsOverlay > div.controlsOverlayTop > div.persistentPanel > div > div > div > p > span, 
#dv-web-player > div > div:nth-child(n) > div > div > div:nth-child(n) > div > div > div.scalingUiContainerBottom > div > div.controlsOverlay > div.controlsOverlayTop > div.persistentPanel > div > div > div > p > span > span {
    font-size: 3rem !important;
    font-family: IBM Plex Sans Regular !important;
}
}

@-moz-document domain("cuckoo.social") {
p, .main-status-content.status-content.mu-card-text, .secondary-read-text-color, .full-reply-status-content.status-content.mu-card-text, .primary-read-text-color.spoiler-text-area, 
.reblog-source-link, .reblog-status-content.status-content.mu-card-text {   /*转发来源和原po*/
    font-size: var(--main-font-size) !important;
}

/*缩小链接预览显示区域*/
#app > div.app-content.container-fluid > div > div:nth-child(n) > div.status-cards-container > div:nth-child(n) > div > div.main-link-preview-area > div > div > div {
     max-width: 300px;
}
}

@-moz-document regexp("https://devtalk.nvidia.com.*") {
.forumText {
    font-size: 1.1rem !important;
}
}

@-moz-document regexp("https://www.acfun.cn/.*") {
.comment-content  {
    font-size: 1rem !important;
}

span.comment-floor, a.name, span.post-time, span.from-phone {
    font-size: 0.8rem !important;
}
}

@-moz-document domain("thwiki.cc") {
#mw-content-text > div > div.mw-parser-output > table:nth-child(n) > tbody > tr > td:nth-child(n) > table:nth-child(n) > tbody > tr:nth-child(n) > td,
#mw-content-text > div > div.mw-parser-output > ul,
.poem,
.comment-text,
#mw-content-text > div > div > table:nth-child(n) > tbody > tr:nth-child(n) > td,
#mw-content-text > div > div > dl:nth-child(n) {
     font-size: var(--main-font-size) !important;
}
}

@-moz-document regexp(".*?\\.pornhub.*") {
.commentMessage {
     font-size: var(--main-font-size) !important;
}
}

@-moz-document regexp("https://.*\\.douban\\.com.*") {
#link-report > span > div {
     font-size: var(--main-font-size) !important;
}

#wrapper {
     width:80vw !important;
}

#content > div > div.article {
     width: calc(80vw - 350px) !important;
}


/*info与评分*/
/*评分框*/
#interest_sectl > div.rating_wrap.clearbox {
     width: 10vw;
}

/*影片信息*/
.subject.clearfix {
     width: calc(80vw - 350px - 180px) !important;
}

/*影片信息字体*/
#info {
     max-width: calc(80vw - 350px - 180px - 155px) !important;
     font-size: calc(var(--main-font-size) * 0.9);
}

/*评分框字体*/
.rating_logo.ll, .rating_sum > a, #interest_sectl,
.stars5.starstop, .stars4.starstop, .stars3.starstop, .stars2.starstop, .stars1.starstop,
#interest_sectl > div.rating_wrap.clearbox > div.ratings-on-weight > div:nth-child(n) > span.rating_per {
     font-size: calc(var(--main-font-size) * 0.9);
}


.related-info, h2 > i,                            /*简介*/
#celebrities > ul > li:nth-child(n) > div,        /*演职员*/
.short-content {                                  /*评论*/
     font-size: var(--main-font-size);
}


/*演职员*/
#celebrities > ul > li:nth-child(n),
div > span.role, .name,
#celebrities > ul > li:nth-child(n) > div > span.name > a {
     width: 15vw !important;
     margin: 0px !important;
}


/*影评*/
#link-report > div {
     font-size: var(--main-font-size) !important;
}
}

@-moz-document regexp("https://ttrss\\.vavhc\\.top.*") {
/*content font size*/
div.postContent, .content, p, p > span:nth-child(n) {
    font-size: calc(var(--main-font-size) * 1.1) !important;
    line-height: 1.5em !important;
}
}

@-moz-document domain("developer.nvidia.com") {
#content {
    max-width: 100vw !important;
    width: 100vw;
    padding: 0px !important;
    margin: 0px !important;
    left: 0px !important;
}

#collapseTwo > div {
    padding: 0px;
}
}

@-moz-document domain("www.solidot.org") {
div, div.p_mainnew {
    font-size: var(--main-font-size);
}
}
