@-moz-document domain("inoreader.com") {
:root {
    --width: 85vw;
}

#article_dialog_wrapper {
    width: var(--width) !important;
    left: calc(50vw - 0.5 * var(--width));
}

#article_dialog, .article_content,
.user_comments_commenter, .comments_wrap {
    max-width: var(--width) !important;
}

.comments_title, .comments_body, .comments_wrap {
    width: calc(0.938*var(--width))
}


/*hide ads rather than block them*/
/*right side*/
#sinner_container {
    z-index: 0
}

/*read area right align*/
#reader_pane {
    right: -200px !important;
}

/*top*/
.sinner.ad_size_leaderboard.leaderboard_ad.block_article_ad, .ad_title.ad_title_centered {
    position: absolute;
    top: -200px;
}

/*bottom*/
.sinner.ad_size_large_rectangle.leaderboard_ad.leaderboard_ad.block_article_ad_bottom.block_article_ad_bottom.block_article_ad {
    position: relative !important;
    bottom: -800px !important;
}
}

@-moz-document regexp("https://www\\.inoreader\\.com/starred") {
/*right side*/
#reader_pane {
    right: 0px !important;
}
}
