@-moz-document domain("inoreader.com") {
:root {
    --width: 85vw;
}

#article_dialog_wrapper {
    width: var(--width) !important;
    left: calc(50vw - 0.5 * var(--width));
}

#article_dialog, .article_content,
.user_comments_commenter, .comments_wrap {
    max-width: var(--width) !important;
}

.comments_title, .comments_body, .comments_wrap {
    width: calc(0.938*var(--width))
}
}
