@-moz-document domain("bbs.saraba1st.com"), domain("www.saraba1st.com") {
:root {
    --breit: 95%;
    --main-font-size: 1.05rem;
}

/*title*/
.ts {
    font-size: calc(var(--main-font-size) * 1.2);
}

.authi, .plm.plc,   /*post time, commentar*/
.pstatus,           /*post modified time*/
.cl.pob {           /*回复、评分、举报*/
    font-size: var(--main-font-size);
}

.t_f, font:nth-child(n),   /*post content*/
.xw1, .pi {                /*ID name*/ 
    font-size: calc(var(--main-font-size) * 1.1) !important;
}


/*ID area*/
.pls {
    width: calc(var(--main-font-size) * 11.5);
}

/*个性签名*/
.sign {
    max-height: calc(var(--main-font-size) * 15) !important
}

/*ID info*/
.xi2, .pls {
    font-size: calc(var(--main-font-size) * 0.9) !important;
}
dt {
    width: 45% !important;
}
dd {
    width: 50% !important;
}

/*帖子列表*/
.bm_c, .xst.s, .td:nth-child(n) {
    font-size: var(--main-font-size);
}
/*作者/最后回复*/
td.by {
     width: 200px !important;
}
td.by > cite > a {
     margin-bottom: 50px !important;
}
/*回复/查看*/
td.num {
     width: 100px;
}
/*作者，回复/查看，最后发表*/
tr > td:nth-child(n) > em > span, tr > td:nth-child(n) > cite > a, 
tr > td.num > a, td.num > em,
tr > td:nth-child(n) > cite > a, tr > td:nth-child(n) > em > a {
     font-size: calc(var(--main-font-size) * 0.7) !important;
     line-height: calc(var(--main-font-size) * 0.75) !important;
}



.pi {
     height: calc(var(--main-font-size) * 1.1);
}


/*Ads*/
/*top*/
#nv_forum > div.wp.a_h {
    display:none;
}
/*post list*/
#threadlisttableid > tbody:nth-child(n) > tr > td > ins {
    display:none !important;
}
}

@-moz-document domain("www.saraba1st.com") {
:root {
   --custom-font-size: 1.38rem;
}

/*帖子列表*/
.bm_c, .xst.s, .td:nth-child(n) {
    font-size: var(--custom-font-size);
}

/*作者/最后回复*/
td.by {
     width: 200px !important;
}
td.by > cite > a {
     margin-bottom: 50px !important;
}
/*回复/查看*/
td.num {
     width: 100px;
}
/*作者，回复/查看，最后发表*/
tr > td:nth-child(n) > em > span, tr > td:nth-child(n) > cite > a, 
tr > td.num > a, td.num > em,
tr > td:nth-child(n) > cite > a, tr > td:nth-child(n) > em > a {
     font-size: calc(var(--custom-font-size) * 0.7) !important;
     line-height: calc(var(--custom-font-size) * 0.75) !important;
}



.pi {
     height: calc(var(--custom-font-size) * 1.1);
}
}
