:root {
    --breit: 95%;
    --main-font-size: 1rem;
}

/*title*/
.ts {
    font-size: calc(var(--main-font-size) * 1.2);
}

.authi, .plm.plc,   /*post time, commentar*/
.pstatus,           /*post modified time*/
.cl.pob {           /*回复、评分、举报*/
    font-size: var(--main-font-size);
}

.t_f,           /*post content*/
.xw1, .pi {     /*ID name*/ 
    font-size: calc(var(--main-font-size) * 1.1);
}


/*ID area*/
.pls {
    width: calc(var(--main-font-size) * 11.5);
}

/*个性签名*/
.sign {
    max-height: calc(var(--main-font-size) * 15) !important
}

/*ID info*/
.xi2, .pls {
    font-size: calc(var(--main-font-size) * 0.9) !important;
}
dt {
    width: 45% !important;
}
dd {
    width: 50% !important;
}


