@-moz-document domain("web.telegram.org") {
/*group list height*/
.im_dialog, .im_dialog_message_wrap, .im_short_message_service {
    height: 4.8rem !important;
}


/*文件标题*/
.audio_player_title_wrap {
    height: 1.4rem !important;
}


/*未读计数*/
.im_dialog_badge_muted.badge.im_dialog_badge {
    line-height: 0.6rem !important;
    font-size: 14px !important;
}
.im_dialog_date {
    height: 1.75rem !important;
}

/*sticker position fix for Telegram ESI*/
.composer_emoji_tooltip.noselect.composer_emoji_tooltip_tabs_stickers_active, .composer_emoji_tooltip.noselect.composer_emoji_tooltip_shown {
    position: absolute !important;
    left: 85% !important;
    top: 80% !important;
    width: 15% !important;
    height: 35% !important
}

/*hide massage date, which under every ID in group*/
.copyonly {
    display: none;
}

/*group info popup*/
.modal-content.modal-content-animated {
    position: relative;
    width: 900px !important;
    left: calc(-0.5*(900px - 480px));
}

/*dialog popup*/
.im_dialogs_modal_col {
    height: 80vh !important;
}

/*bot dropdown menu*/
/*.composer_dropdown_wrap, .scroller_scrollable_container, .active-scrollbar.nano.scroller_scrollable_wrap, .nano-content.scroller_scrollable*/
/*.composer_dropdown.inline_results_wrap*/
.composer_dropdown_wrap, .composer_dropdown_wrap >.scroller_scrollable_container {
    top: 300px !important;
    height: 525px;
}

.active-scrollbar.nano.scroller_scrollable_wrap {
    height: 525px;
}
}
