:root {
    --sticker-popup-height: 750px;
    --sticker-popup-width: 550px;
    --group-list-width: 0.3;
    --group-list-width-small: 420px;
    --main-width: 85rem;
}


/*whole area*/
.tg_head_split, .im_page_wrap, .im_message_wrap, .im_send_panel_wrap, .im_send_form, .tg_head_peer_title {
    max-width: var(--main-width) !important;
}


/*wider than 1280px*/
@media screen and (min-width: 1280px) {
    /*group list*/
    .im_dialogs_col_wrap, .tg_head_logo_wrap {
        width: calc(var(--group-list-width) * 100%) !important;
    }
    /*chat area*/
    .im_history_col_wrap, .tg_head_main_wrap {
        width: calc(100% - var(--group-list-width) * 100%) !important;
    }
    /*link ipreview in chat*/
    .im_message_webpage_article, .im_message_webpage_title, .im_message_webpage_title > a, .im_message_webpage_description {
        width: calc((1 - var(--group-list-width)) * var(--main-width) - 250px);
        margin-right: 0px !important;
    }
}

/*below 1280px*/
@media screen and (max-width: 1279px) {
    .im_dialogs_col_wrap, .tg_head_logo_wrap {
        width: var(--group-list-width-small) !important;
    }
    /*chat area*/
    .im_history_col_wrap, .tg_head_main_wrap {
        width: calc(100% - var(--group-list-width-small)) !important;
    }
}


/*group profile img*/
.im_dialog_photo {
    border-radius: 50% !important;
    height: 3rem !important;
    width: 3rem !important;
}



/*send button*/
.im_submit {
    height: unset !important;
    line-height: unset !important;
}


/*group list height*/
.im_dialog, .im_dialog_message_wrap, .im_short_message_service {
    height: 4.8rem !important;
}


/*title of file*/
.audio_player_title_wrap {
    height: 1.4rem !important;
}


/*unread counter*/
.im_dialog_badge_muted.badge.im_dialog_badge {
    line-height: 0.6rem !important;
    font-size: 14px !important;
}
.im_dialog_date {
    height: 1.75rem !important;
}


/*hide massage date, which under every ID in group*/
.copyonly {
    display: none;
}


/*group info popup*/
.modal-content.modal-content-animated {
    position: relative;
    width: 900px !important;
    left: calc(-0.5*(900px - 480px));
}


/*dialog popup*/
.im_dialogs_modal_col {
    height: 80vh !important;
}


/*bot dropdown menu*/
/*.composer_dropdown_wrap, .scroller_scrollable_container, .active-scrollbar.nano.scroller_scrollable_wrap, .nano-content.scroller_scrollable*/
/*.composer_dropdown.inline_results_wrap*/
.composer_dropdown_wrap, .composer_dropdown_wrap >.scroller_scrollable_container {
    top: 300px !important;
    height: 525px;
}
.composer_dropdown_wrap > .scroller_scrollable_container > .active-scrollbar.nano.scroller_scrollable_wrap,
.composer_dropdown_wrap > .scroller_scrollable_container > .nano.scroller_scrollable_wrap {     /*bing bot*/
    max-height: 525px;
}


/*sticker position fix for Telegram ESI*/
/*size and position of sticker popup*/
.composer_emoji_tooltip_shown.composer_emoji_tooltip_tabs_stickers_active.noselect.composer_emoji_tooltip, .composer_emoji_tooltip_shown.noselect.composer_emoji_tooltip {
    position: absolute !important;
    left: calc(100vw - var(--sticker-popup-width)) !important;
    top: calc(100vh - var(--sticker-popup-height) + 180px) !important;
    width: var(--sticker-popup-width) !important;
    height: var(--sticker-popup-height) !important;
}

/*size of sticker & emoji area*/
.composer_emoji_tooltip_content_wrap > .scroller_scrollable_container > .active-scrollbar.nano.scroller_scrollable_wrap,
.composer_emoji_tooltip_tabs_wrap {
    height: var(--sticker-popup-height);
    width: var(--sticker-popup-width);
}

/*size of emoji area*/
.composer_emoji_tooltip_tab_emoji_content > .composer_emoji_tooltip_content_wrap > .scroller_scrollable_container > .nano.scroller_scrollable_wrap {
    width: var(--sticker-popup-width);
    height: var(--sticker-popup-height);
}

/*size and position of sticker area*/
.composer_emoji_tooltip_tab_stickers_content {
    position: relative;
    left: calc(var(--sticker-popup-width));
    top: calc(-0.36 * var(--sticker-popup-height));
    width: var(--sticker-popup-width);
    height: var(--sticker-popup-height);
}

/*height of sticker area, sticker catalogreis area should not be overlaped*/
.nano-content.scroller_scrollable {
    height: calc(var(--sticker-popup-height) - 90px);
}

/*position of sticker catalogreis area*/
.composer_emoji_tooltip_categories {
    top: calc(0.565 * var(--sticker-popup-height)) !important;
    width: var(--sticker-popup-width);
}

/*Bewegungsteil*/
.non_msie .composer_emoji_tooltip_tabs_stickers_active .composer_emoji_tooltip_tabs_contents{-webkit-transform:translate3d(-560px,0,0);-moz-transform:translate3d(-560px,0,0);-o-transform:translate3d(-560px,0,0);-ms-transform:translate3d(-560px,0,0);transform:translate3d(-560px,0,0)}


/*larger img & sticker*/
/*img*/
a.im_message_photo_thumb, img.im_message_photo_thumb,

/*in group*/
/*sticker*/
body > div.page_wrap > div.im_page_wrap.clearfix > div > div.im_history_col_wrap.noselect.im_history_loaded > div.im_history_selected_wrap > div > div.im_history_wrap.nano.active-scrollbar > div.im_history_scrollable_wrap.nano-content > div > div.im_history.im_history_selectable > div.im_history_messages.im_history_messages_group > div.im_history_messages_peer > div:nth-child(n) > div > div > div > div.im_message_body.im_message_body_media > div > div.im_message_media > div > div > div > div,

body > div.page_wrap > div.im_page_wrap.clearfix > div > div.im_history_col_wrap.noselect.im_history_loaded > div.im_history_selected_wrap > div > div.im_history_wrap.nano.active-scrollbar > div.im_history_scrollable_wrap.nano-content > div > div.im_history.im_history_selectable > div.im_history_messages.im_history_messages_group > div.im_history_messages_peer > div:nth-child(n) > div > div > div > div.im_message_body.im_message_body_media > div > div.im_message_media > div > div > div > div > img,

/*gif*/
/*thumb*/
body > div.page_wrap > div.im_page_wrap.clearfix > div > div.im_history_col_wrap.noselect.im_history_loaded > div.im_history_selected_wrap > div > div.im_history_wrap.nano.active-scrollbar > div.im_history_scrollable_wrap.nano-content > div > div.im_history.im_history_selectable > div.im_history_messages.im_history_messages_group > div:nth-child(n) > div:nth-child(n) > div > div > div > div.im_message_body.im_message_body_media > div > div.im_message_media > div > div > div > div > a > div,

body > div.page_wrap > div.im_page_wrap.clearfix > div > div.im_history_col_wrap.noselect.im_history_loaded > div.im_history_selected_wrap > div > div.im_history_wrap.nano.active-scrollbar > div.im_history_scrollable_wrap.nano-content > div > div.im_history.im_history_selectable > div.im_history_messages.im_history_messages_group > div:nth-child(n) > div:nth-child(n) > div > div > div > div.im_message_body.im_message_body_media > div > div.im_message_media > div > div > div > div > a > div > img, 

/*during playing*/
body > div.page_wrap > div.im_page_wrap.clearfix > div > div.im_history_col_wrap.noselect.im_history_loaded > div.im_history_selected_wrap > div > div.im_history_wrap.nano.active-scrollbar > div.im_history_scrollable_wrap.nano-content > div > div.im_history.im_history_selectable > div.im_history_messages.im_history_messages_group > div:nth-child(n) > div:nth-child(n) > div.im_message_outer_wrap.hasselect > div > div > div.im_message_body.im_message_body_media > div > div.im_message_media > div > div > div > div > a > div > div:nth-child(n) > video,

body > div.page_wrap > div.im_page_wrap.clearfix > div > div.im_history_col_wrap.noselect.im_history_loaded > div.im_history_selected_wrap > div > div.im_history_wrap.nano.active-scrollbar > div.im_history_scrollable_wrap.nano-content > div > div.im_history.im_history_selectable > div.im_history_messages.im_history_messages_group > div:nth-child(n) > div:nth-child(n) > div.im_message_outer_wrap.hasselect > div > div > div.im_message_body.im_message_body_media > div > div.im_message_media > div > div > div > div > a > div > div:nth-child(n) > video > source,

/*in privat chat*/
/*sticker */
body > div.page_wrap > div.im_page_wrap.clearfix > div > div.im_history_col_wrap.noselect.im_history_loaded > div.im_history_selected_wrap > div > div.im_history_wrap.nano.active-scrollbar > div.im_history_scrollable_wrap.nano-content > div > div.im_history.im_history_selectable > div.im_history_messages > div:nth-child(n) > div:nth-child(n) > div.im_message_outer_wrap.hasselect > div > div > div.im_message_body.im_message_body_media > div > div.im_message_media > div > div > div > div, 

body > div.page_wrap > div.im_page_wrap.clearfix > div > div.im_history_col_wrap.noselect.im_history_loaded > div.im_history_selected_wrap > div > div.im_history_wrap.nano.active-scrollbar > div.im_history_scrollable_wrap.nano-content > div > div.im_history.im_history_selectable > div.im_history_messages > div:nth-child(n) > div:nth-child(n) > div.im_message_outer_wrap.hasselect > div > div > div.im_message_body.im_message_body_media > div > div.im_message_media > div > div > div > div > img,

/*gif*/
/*thumb*/
body > div.page_wrap > div.im_page_wrap.clearfix > div > div.im_history_col_wrap.noselect.im_history_loaded > div.im_history_selected_wrap > div > div.im_history_wrap.nano.active-scrollbar > div.im_history_scrollable_wrap.nano-content > div > div.im_history.im_history_selectable > div.im_history_messages > div.im_history_messages_peer > div:nth-child(n) > div > div > div > div.im_message_body.im_message_body_media > div > div.im_message_media > div > div > div > div > a > div,

body > div.page_wrap > div.im_page_wrap.clearfix > div > div.im_history_col_wrap.noselect.im_history_loaded > div.im_history_selected_wrap > div > div.im_history_wrap.nano.active-scrollbar > div.im_history_scrollable_wrap.nano-content > div > div.im_history.im_history_selectable > div.im_history_messages > div.im_history_messages_peer > div:nth-child(n) > div > div > div > div.im_message_body.im_message_body_media > div > div.im_message_media > div > div > div > div > a > div > img,

/*during playing*/
body > div.page_wrap > div.im_page_wrap.clearfix > div > div.im_history_col_wrap.noselect.im_history_loaded > div.im_history_selected_wrap > div > div.im_history_wrap.nano.active-scrollbar > div.im_history_scrollable_wrap.nano-content > div > div.im_history.im_history_selectable > div.im_history_messages > div.im_history_messages_peer > div:nth-child(n) > div.im_message_outer_wrap.hasselect > div > div > div.im_message_body.im_message_body_media > div > div.im_message_media > div > div > div > div > a > div > div:nth-child(n) > video,

body > div.page_wrap > div.im_page_wrap.clearfix > div > div.im_history_col_wrap.noselect.im_history_loaded > div.im_history_selected_wrap > div > div.im_history_wrap.nano.active-scrollbar > div.im_history_scrollable_wrap.nano-content > div > div.im_history.im_history_selectable > div.im_history_messages > div.im_history_messages_peer > div:nth-child(n) > div.im_message_outer_wrap.hasselect > div > div > div.im_message_body.im_message_body_media > div > div.im_message_media > div > div > div > div > a > div > div:nth-child(n) > video {
    width: 380px !important;
    height: 100% !important;
}


/*remove bottom empty*/
body > div.page_wrap > div.footer_wrap.footer_empty {
    height: 0 !important;
}
