@-moz-document domain("tool.oschina.net") {
.span8, .input-prepend, #textSour, #textMatchResult, #textReplaceResult {
    width: 130% !important;
}

#textPattern, #textReplace {
    width: 100% !important;
}

.span8 {
    position: relative;
    left: -30%;
}
}
