@media screen and (min-width: 1366px) {
    /*main page*/
    /*timeline*/
    #page-container {
        width: 98%
    }
    #timeline.top-timeline-tweetbox.content-main {
        position: relative;
        left: 21.5%;
        width: 59.2%;
    }

    /*left sidebar*/
    .dashboard-left.dashboard {
        position: fixed;
        left: 2%;
        width: 20%;
    }

    /*right sidebar*/
    .dashboard-right.dashboard {
        position: fixed;
        width: 17%;
        right: 2%;
    }
    
    /*Notification*/
    #timeline.light-inline-actions.content-main {
        position: absolute;
        left: 22.15%;
        width: 58.2%;
    }

    /*Profile*/
    /*main container*/
    #page-container > .AppContainer, .u-bgUserColor.ProfileCanopy-header > .AppContainer, #page-container.AppContent {
        position: absolute !important;
        left: 0% !important;
        min-width: 80%;
        width: 98% !important;
    }
    /*Profile bg-image*/
    .ProfileCanopy-inner {
        width: 102% !important;
    }
    /*timeline and provide user*/
    .u-lg-size2of3, .u-lg-size4of6, .u-lg-size8of12, .ProfileClusterFollow {
        position: relative;
        left: 17%;
        width: 100% !important
    }
    
    /*avatar*/
    .ProfileAvatar {
        position: relative;
        left: 50%;
        top: 65%
    }

    /*left sidebar*/
    .u-lg-size1of4.u-size1of3.Grid-cell > .Grid--withGutter.Grid > .Grid-cell {
        position: absolute;
        left: 2% !important;
        width: 35%
    }

    /*right sidebar*/
    .SidebarCommonModules {
        position: absolute;
        left: 2% !important;
        top: 500px;
        width: 32%
        
    }
}
