/*wider timeline*/
.content-main {
    width: 1000px!important;
}
.wrapper {
    width: 1000px!important;
}

/*left dashboard*/
.dashboard-left.dashboard {
    position: fixed !important;
    margin: auto!important;
    left: 80px!important;
}

/*right dashboard*/
.dashboard-right.dashboard {
    position: fixed !important;
    margin: auto!important;
    width: 330px;
    right: 20px!important;
    top: 55px!important;
}


/*font config*/
/*home*/
.tweet-text.js-tweet-text.TweetTextSize {
    font-size: 18px;
    line-height: 1.7rem;
}

/*user's homepage*/
.js-short-timestamp._timestamp {
    line-height: 1.975rem;
}

/*username*/
.u-textTruncate.show-popup-with-id.fullname {
    font-size: 18px;
    line-height: 2rem;
}

.u-textTruncate.u-dir.username, .js-relative-timestamp.js-short-timestamp._timestamp, .with-icn.tweet-context, .u-textUserColorHover.translate-button.js-translate-tweet.btn-link {
    font-size: 15px;
    line-height: 1.7rem;
}

/*post time*/
.js-relative-timestamp.js-short-timestamp._timestamp {
    font-size: 15px;
    line-height: 1.8rem;
}

/*notification*/
.js-actionable-user.ActivityItem-displayText, .u-linkComplex-target.QuoteTweet-fullname, .ActivityItem-activityTimestamp, .u-linkComplex-target.QuoteTweet-fullname, .u-textTruncate.u-dir.username, .js-nav.QuoteTweet-link, .QuoteTweet-container {
    font-size: 17px;
    line-height: 1.7rem;
}


/*3 dot button beside follow button*/
.plain-btn.btn.js-tooltip.js-link.js-dropdown-toggle.dropdown-toggle.user-dropdown {
    background-color: #233446;
    border-width: 0px;
}


/*Tweet in gallery*/
.enable-fade.GalleryTweet {
    opacity: 0;
}
