@-moz-document domain("www.zhihu.com") {
/*顶栏*/
.AppHeader-inner {
    width: 85%;
}


/*问题描述区域*/
.QuestionHeader-content, .QuestionHeader-main, .QuestionHeader-footer-inner {
    width: 87%;
}


/*回答区域*/
.Question-mainColumn {
    position: absolute;
    left: 7.5%;
	width: 69.5%;
}
.CopyrightRichText-richText.ztext.RichText {
    font-size: 1.1rem;
}
/*评论区字体*/
.CommentRichText, .CommentItemV2-meta {
    font-size: 1rem
}


/*右边栏*/
.Question-sideColumn--sticky.Question-sideColumn {
    position: relative;
    right: -102.5%;
}


/*首页*/
.TopstoryV2-container, .TopstoryV2-mainColumn {
    width: 75%;
}


/*Profile*/
.ProfileHeader {
    width: 85%;
}
.UserCover {
    height: 30%;
}
}

@-moz-document domain("zhuanlan.zhihu.com") {
/*知乎专栏*/
.Column-ArticleList {
    position: absolute !important;
    width: 80% !important;
    left: 10%
}

/*文字列表摘要和文章正文*/
.RichContent-inner, p:nth-of-type(n) {
    font-size: 1.15rem
}

/*正文区域加宽*/
.Post-Header, .Post-NormalMain > div, .TitleImage {
    width: 80% !important;
}

/*分享按钮*/
.Post-SideActions {
    left: 5%
}

/*右上按钮*/
.Button--blue.ColumnPageHeader-WriteButton.Button {
    width: 150px !important
}

/*文章标题*/
.ArticleItem-Title, .Post-Title {
    font-size: 1.5rem !important
}

}

@-moz-document regexp(".*\\.zhihu.com/search\\?.*") {
.Search-container{
	width: 85%;
}
/*搜索主体*/
.SearchMain{
	width: 85%;
}
/*顶部的相关用户和话题*/
.SearchSections{
	width: 100%;
}
}

@-moz-document regexp(".*\\.zhihu.com/people/.*") {
.Profile-main{
	width: 85%;
}
.Profile-mainColumn{
	width: 100%;
}
}

@-moz-document regexp("https://www\\.zhihu\\.com/topic.*") {
.ContentLayout-sideColumn {
    position: absolute;
    top: 7%;
    right: 2%;
    width: 20%
}

.ContentLayout-mainColumn {
    position: absolute;
    top: 7%;
    left: 7%;
    width: 70%
}
}
